.marquee {
  height: 4vh;
  background-color: #af8f6f;
  display: flex;
  align-items: center;
}

.marqueeContent {
  justify-content: center;
  width: 100vw;
}

.marqueeText {
  color: #f8f4e1;
}

.icon {
  font-size: large;
  display: fixed;
  padding: 0px 10px;
}
